* {
  box-sizing: border-box;
}

body {
  background: fixed no-repeat center center
    url(./Image/daniel-burka-facU72FcKBI-unsplash.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quote {
  font-size: 36px;
  font-weight: bold;
}

.author {
  font-size: 20px;
  text-align: center;
  font-style: italic;
}

p.author,
q.quote {
  font-family: "Sacramento", cursive;
  color: #cbc7b6;
}

@media screen and (min-width: 600px) {
  q.quote {
    font-size: 36px;
  }
}

@media screen and (max-width: 600px) {
  q.quote {
    font-size: 20px;
  }
}
@media screen and (min-width: 600px) {
  p.author {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  p.author {
    font-size: 10px;
  }
}
